{% import "components/user.html" as user %}
{% extends "manage_base.html" %}
{% block manage_content %}
<style>
  .col--operation {
    width: 100px;
  }

  .col--domainid {
    width: 60px;
  }

  .col--uname {
    width: 100px;
  }

  .col--createdat {
    width: 150px;
  }

  .col--path {
    width: 200px;
  }

  .col--method {
    width: 80px;
  }

  .col--os {
    width: 120px;
  }

  .col--browser {
    width: 120px;
  }

  .col--timecost {
    width: 80px;
  }

  .col--statuscode {
    width: 80px;
  }

  .col--success {
    width: 80px;
  }
</style>
<div class="section">
  <div class="section__header">
    <h1 class="section__title" data-heading>{{ _(page_name) }}</h1>
  </div>
  <div class="section__body">
    <form method="get" name="filter-form">
      <div class="row">
      {{ form.form_text({
          columns:3,
          label:_('Domain ID'),
          name:'domId',
          value:domId,
          row:false
        }) }}
      {{ form.form_text({
          columns:3,
          label:_('Path'),
          name:'path',
          value:path,
          row:false
        }) }}
        {{ form.form_text({
          columns:3,
          label:_('Username'),
          name:'username',
          value:username,
          row:false
        }) }}
        {{ form.form_text({
          columns:3,
          label:_('Method'),
          name:'method',
          value:method,
          row:false
        }) }}
        {{ form.form_select({
          columns:3,
          label:_('Success'),
          name:'success',
          value:success,
          options:{
            '':_('All'),
            'true':_('Yes'),
            'false':_('No')
          },
          row:false
        }) }}
      </div>
      <button type="submit" class="button primary">
        {{ _('Filter') }}
      </button>
      <button type="reset" class="button secondary" name="reset">
        {{ _('Reset') }}
      </button>
    </form>
    <div style="width: 100%; overflow-x: auto;">
      <table class="data-table">
        <colgroup>
          <col class="col--operation">
          <col class="col--domainid">
          <col class="col--uname">
          <col class="col--createdat">
          <col class="col--path">
          <col class="col--method">
          <col class="col--os">
          <col class="col--browser">
          <col class="col--timecost">
          <col class="col--statuscode">
          <col class="col--success">
        </colgroup>
        <thead>
          <tr>
            <th class="col--operation">{{ _('Operation') }}</th>
            <th class="col--domainid">{{ _('Domain ID') }}</th>
            <th class="col--uname">{{ _('Username') }}</th>
            <th class="col--createdat">{{ _('Created At') }}</th>
            <th class="col--path">{{ _('Path') }}</th>
            <th class="col--method">{{ _('Method') }}</th>
            <th class="col--os">{{ _('OS') }}</th>
            <th class="col--browser">{{ _('Browser') }}</th>
            <th class="col--timecost">{{ _('Time Cost') }}</th>
            <th class="col--statuscode">{{ _('Status Code') }}</th>
            <th class="col--success">{{ _('Success') }}</th>
          </tr>
        </thead>
        <tbody>
          {%- for ldoc in ldocs -%}
          <tr>
            <td class="col--operation">
              {{ set(UiContext, 'log-' + ldoc._id, ldoc) }}
              <a data-id="{{ ldoc._id}}" name="log_detail">
                {{ _('View') }}
              </a>
            </td>
            <td class="col--domainid" data-tooltip="{{ ldoc.domainId }}">{{ ldoc.domainId }}</td>
            <td class="col--uname" data-tooltip="{{ ldoc.username }}">{{ ldoc.username }}</td>
            <td class="col--createdat">{{ datetimeSpan(ldoc['createdAt'], false, 'YYYY-MM-DD HH:mm:ss')|safe }}</td>
            {# for compatibility #}
            <td class="col--path" data-tooltip="{{ ldoc.path or ldoc.url }}">{{ ldoc.path or ldoc.url }}</td>
            <td class="col--method" data-tooltip="{{ ldoc.method }}">{{ ldoc.method }}</td>
            <td class="col--os" data-tooltip="{{ ldoc.os }}">{{ ldoc.os }}</td>
            <td class="col--browser" data-tooltip="{{ ldoc.browser }}">{{ ldoc.browser }}</td>
            <td class="col--timecost">{{ ldoc.timeCost }} ms</td>
            <td class="col--statuscode" data-tooltip="{{ ldoc.statusCode }}">{{ ldoc.statusCode }}</td>
            <td class="col--success">
              {% if ldoc.success %}
              <span class="badge badge--success">{{ _('Yes') }}</span>
              {% else %}
              <span class="badge badge--error">{{ _('No') }}</span>
              {% endif %}
            </td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
    {{ paginator.render(page, pcount, add_qs=qs) }}
  </div>
</div>
{% endblock %}
